// Content

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

// Flexigrid styling to match bootstrap
.flexigrid div.form-div input[type=text] {
    height: 2.5rem;
}

.flexigrid {    
    padding: 10px;
}

.flexigrid .hDiv {
    border-bottom: 1px solid #ccc;
}

.flexigrid .hDiv th {
    background-color: #eee;
    padding: 5px;
}

.flexigrid .bDiv {
    border-top: 1px solid #ccc;
}

.flexigrid .bDiv td {
    padding: 5px;
}

.flexigrid div.pDiv input {
    top: -8px;
}

.ptogtitle {
    display: none;
}

.clientes, .comprobantes {
    .flexigrid div.tDiv {
        display: none;
    }
}

// STYLES OF TOTAL SECTION IN REGISTRAR COMPROBANTE PAGE
h5 span {
    font-weight: 400;
}

.row.total-block h5 {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}