@media (min-width: 992px) {
  .navbar .dropdown-menu {
    display: none;
  }
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.flexigrid div.form-div input[type=text] {
  height: 2.5rem;
}

.flexigrid {
  padding: 10px;
}

.flexigrid .hDiv {
  border-bottom: 1px solid #ccc;
}

.flexigrid .hDiv th {
  background-color: #eee;
  padding: 5px;
}

.flexigrid .bDiv {
  border-top: 1px solid #ccc;
}

.flexigrid .bDiv td {
  padding: 5px;
}

.flexigrid div.pDiv input {
  top: -8px;
}

.ptogtitle {
  display: none;
}

.clientes .flexigrid div.tDiv, .comprobantes .flexigrid div.tDiv {
  display: none;
}

h5 span {
  font-weight: 400;
}

.row.total-block h5 {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.footer {
  margin-top: auto;
}

@font-face {
  font-family: "MarkPro-Bold";
  src: url("./src/fonts/MarkPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "effra";
  src: url("./src/fonts/effra-regular.ttf") format("truetype");
}
@font-face {
  font-family: "MarkPro-Light";
  src: url("./src/fonts/MarkPro-Ligth.ttf") format("truetype");
}
